spring:
  sql:
    init:
      mode: never
  datasource:
    url: jdbc:mysql://localhost:3306/lectureq?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: YOUR_DB_PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.lectureq: DEBUG
    org.hibernate.SQL: DEBUG

jwt:
  secret: YOUR_JWT_SECRET_BASE64_ENCODED_MIN_32_BYTES

kakao:
  client-id: YOUR_KAKAO_REST_API_KEY
  client-secret: YOUR_KAKAO_CLIENT_SECRET
  redirect-uri: http://localhost:5173/oauth/callback

cookie:
  secure: false
